header {
    width: 100%;
    min-height: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fafafa;
}

header nav {
    display: flex;
}

header nav p {
    margin: 20px 50px 0 50px;
}